{% extends 'index.html' %}


{% block content %}
<section class="rooms">
    <div class="container">
        
        <div class="rooms_title">
            <h2 class="rooms_txt">Rooms</h2>
        </div>
        
        <div class="rooms_list">
            {% for room in rooms %}
                <div class="rooms_detail">
                    <div class="rooms_info">
                        <h2 class="rooms_name">{{ room.name }}</h2>
                        <button>
                            
                            <a href="{% url 'room' room.slug %}" class="rooms_link">Join</a>
                        </button>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div id="globalArea" style="width: 700px; height: 350px"></div>
    </div>
</section>
{% endblock %}