
{% extends 'index.html' %}

    {% block content %}
    <section class="login">
        <div class="container login_pos">
            <div class="center">

                <h1>Forgot password? </h1>

                {% if messages %}
                
                    {% for m in messages %}
                    <h1>{{m}}</h1>
                    {% endfor %}
               
        
        
                {% endif %}
                <!-- <p>Your email: </p> -->
                <form method="post" id="add_form">
                    {{ password_reset_form.as_p }}
                    {{ profile_name_email.as_p }}
                    {% csrf_token %}
                    <button form="add_form" type="submit" class="login_btn">Send email</button>
                </form>
            </div>
        </div>
    </section>
    {%endblock%}