{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat Room</title>

</head>

    <textarea id = "chat-log" cols = "100" rows = "20"></textarea>
    <input id = "chat-message-input" type = "text" size = "100"><br>
    <input id = "chat-message-submit" type = "button" value  = "send">

    {{room_name | json_script:'room-name'}}


    <script src = "{% static 'js/scriptChat.js' %}"></script>
</body>
</html>