{% extends 'index.html' %}
{% load static %}


{% block content %}
<div class="chat_bg_globe" id = "chat_bg_globe">
    
    <section class="chat_list">
        <div class="container">
            <div class="chat_list_cen">
    
    
                <div class="contact-table-scroll">
                    <ul class="chat_user_list">
                        <li class="user_list" >
                            {% for user_follower in user_followers %}
                            <div class="user_info" id="list_userFollwers" >
                                <img src="{{ user_follower.profile.picture.url }}" width="65" height="65" alt="img" class="rounded-circle">
                                <a class = "chat_list_userName" href="{%url 'profile' user_follower.profile.pk %}" id = "user_follower">{{user_follower}}</a>
                                <a href="{%url 'chat' user_follower%}">
                                    <button class="chat_list_btn">Message</button>
                                </a>
                            </div>
                            {% endfor %}
                        </li>
                    </ul>
                </div>
    
    
            </div>
        </div>
    </section>
</div>


{% endblock %}


{%block js%}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r121/three.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vanta@latest/dist/vanta.globe.min.js"></script>
    <script>
        VANTA.GLOBE({
        el: "#chat_bg_globe",
        mouseControls: true,
        touchControls: true,
        gyroControls: false,
        minHeight: 200.00,
        minWidth: 200.00,
        scale: 1.00,
        scaleMobile: 1.00
        })
    </script>

{%endblock%}