{% extends 'index.html' %}
{% load static %}
{% load static i18n %}
{% block content %}

<section class="chat">
    <div class="container">
        <div class="chat_block">

                <div class="chat-top">
                    <div class="chat-top_message">
                        <span class="ml-2">Messages</span>
        
                    </div>
                    <div class="chat_user_list">
                        <div class="chat_user_list_block">
                            <ul class="chat_user_ulist">
    
        
                                    {% for user_follower in user_followers %}
                                    <li>
                                        <img src="{{ user_follower.profile.picture.url }}" class="rounded-circle" width="48" height="48"  />
                                    
                                        <a href="{% url 'chat' username=user_follower %}">{{user_follower}}</a>
                                    </li>
                                    {% endfor %}
    
                            </ul>
                        </div>
        
                    </div>
                </div>
                <div class="chat_users">
                    <div class="col-sm-8 message-area">
                        
                        <div class="chat_users_name">
                            <img src="{{ user.profile.picture.url }}" width="48" height="48" class="rounded-circle"/>
                            <a href="{% url 'profile' user.profile.pk %}">{{user.username}}</a>
                        </div>
                        
                        
                        
                        <div class="message-table-scroll">
                            <table class="table">
                                <tbody id='chat-body'>
                                    {% for message in messages %}
                                    {% if message.sender == request.user.username %}
                                    <tr class="chat-body_right">
                                        <td>
                                            <p class="chat-body_message_right">
                                                {{message.message}}
                                            </p>
                                        </td>
                                        <td>
                                            <p class ="data_chats"><small class="p-1 shadow-sm">{{message.timestamp|time:'H:i'}}</small>
                                            </p>
                                        </td>
                                    </tr>
                                    {% else %}
                                    <tr class="chat-body_left" >
                                        <td>
                                            <p class="chat-body_message_left">
                                                {{message.message}}
                                            </p>
                                        </td>
                                        <td>
                                            <p><small class="p-1 shadow-sm">{{message.timestamp|time:'H:i'}}</small>
                                            </p>
                                        </td>
                                    </tr>
                                    {% endif %}
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        
                        <div class="message-box">

                            <div class="message-box_block">
                                <input type="text" class="form-control" id="message_input" placeholder="Write message...">
                                <span class="icon-plane">
                                    <i class="fa-solid fa-paper-plane" id="chat-message-submit"></i>
                                </span>
                                <!-- <button class="btn btn-success" id="chat-message-submit">{% trans 'Send' %}</button> -->
                            </div>
                        </div>
                    </div>
                </div>

        
        </div>

    </div>
</section>

{{user.id|json_script:"json-username"}}
{{request.user.username|json_script:"json-message-username"}}
{% endblock %}
{% block js %}
<script asyn src="{% static 'js/chat.js' %}"></script>
{% endblock %}