{% extends 'index.html' %}
{% load static i18n %}
    {% block content %}
    <section class="login">
        <div class="container login_pos">
            <div class="center">

            <h1 class="mt-4">{% trans 'Change password' %}</h1>
        
            <form id="add_form" method="post">
                {{form}}
                {% csrf_token %}
                <button form="add_form" type="submit" class="login_btn">{% trans 'Change password' %}</button>
            </form>
        </div>
    </section>
</div>

{% endblock %} 