{% extends 'index.html' %}
    
    {% block content %}
    <h1 class="mt-4">Post: {{get_article.name}}</h1>
    <p><a href="/">Back</a></p>


    <p>Create date:  {{get_article.create_date}}</p>
    <p>Name:  {{get_article.name}}</p>
    <p>Text: {{get_article.text}}</p>
    
    <span> 
        <p>Comment ({{get_article.comments_articles.all.count}})</p>
        <a href="{% url 'likes' get_article.id %}">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
               <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
            </svg>
        </a>
        <p>{{get_article.likes}} Likes </p>
    </span>
   
    
    
    <hr>
    
    <p>Add comment</p>
    
    
        {% if messages %}
    <div class="alert alert-success">
        {% for m in messages %}
            {{m}}
        {% endfor %}
    </div>
    
    
    {% endif %}
    
    
    
    
    
    <ul>
    
    {% for item in get_article.comments_articles.all %}
    
    <li>

    {% include 'comment_item.html' %}

    </li>
    
    {% endfor %}
    </ul>
    
    <div class="col-4">
        

        <form action="" id="add_form" method="post">
            {% csrf_token %}
                {{form.as_p}}
        </form>



        <button form="add_form" type="submit" class="btn btn-primary">Add</button>

        
        
        

    </div>
    
    
{% endblock %}


{% block js %}

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

<script>
    $('body').on('click', '.update_status', function(event){
        event.preventDefault();
        if (confirm('Are you sure?Article Visibility')) {
            var url = $(this).attr('data-url')
            var tag_li = $(this).parent()
            console.log(url)
            
            $.ajax({
                url:url,
                type: 'GET',
                success: function(response) {
                    tag_li.html(response)
                    console.log(response)
                }
            })
            
        }

    })
</script>











{% endblock %}
