{% extends 'index.html' %}
    
    {% block content %}
    <section class="login">
        <!-- <p class="login_backPath post_linkPagi" ><a href="/">Back</a></p> -->
        <div class="container login_pos">
            <div class="center">    
                
                <h1 class="">Edit Profile</h1>
            
                <form id="add_form" method="post">
                    <!-- <div class="inputbox"> -->
                        {{form}}
                        {% csrf_token %}
                    <!-- </div> -->
                    <button form="add_form" type="submit" class="login_btn">Update Profile</button>
                </form>
            </div>
        </div>
    </section>

{% endblock %}