{% extends 'index.html' %}
{% load static i18n %}
    
    {% block content %}
    <section class="login">
        <!-- <p class="login_backPath post_linkPagi" ><a href="/">Back</a></p> -->
        <div class="container login_pos">
            <div class="center">    
                
                <h1 class="">Edit Profile</h1>
                {% if messages %}
                
                <!-- <div class="alert alert-success"> -->
                    {% for m in messages %}
                    <h1>{{m}}</h1>
                    {% endfor %}
                <!-- </div> -->
        
        
                {% endif %}
            
                <form id="add_form" method="post" enctype="multipart/form-data">
                    <!-- <div class="inputbox"> -->
                        {{profile_form}}
                        {{user_form}}
                        {% csrf_token %}
                    <!-- </div> -->
                    <button form="add_form" type="submit" class="login_btn">Update Profile</button>
                </form>
            </div>
        </div>
    </section>

{% endblock %}