{% load custom_tags %}
{% load static %}
{% load render_bundle from webpack_loader %}


<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  
  <link rel="shortcut icon" href="{% static 'icons/favicon.ico' %}" type='image/x-icon'>
 
  
  <link href="https://fonts.googleapis.com/css2?family=B612+Mono&family=Cabin:wght@400;500&display=swap"
  rel="stylesheet">
  
  <link type="text/css" href="{% static 'css/edit_page.css' %}" rel="stylesheet">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.4/tiny-slider.css">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">

  <link rel="stylesheet" href="{% static 'css/style.css'%}">
  
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  
  {% render_bundle 'main' 'js' 'DEFAULT' %}

  <title>TellUs</title>

</head>


<body>

  <header class="header">
    <div class="container">
      <div class="header_logo">
        {% url 'home' as url_home %}
        <a href="{{url_home}}" class="header_logo_txt">TellUs</a>
        <div class="header_icon_form">
          <div class="header_icons_img">
            <a href="#" class="header_icons_img_face">
              <i class="fa-brands fa-facebook-f"></i>
            </a>

            <a href="#" class="header_icons_img_face">
              <i class="fa-brands fa-twitter"></i>
            </a>

            <a href="#" class="header_icons_img_face">
              <i class="fa-brands fa-instagram"></i>
            </a>

            {% if request.user.is_authenticated %}
         
              <a class="header_icons_img_face subheader_drop_down_noti" id="navbarDropdown">
                <i class='fa fa-bell' id = "subheader_drop_down"></i>
                <span class="badge" id="notification-badge">
                  <!-- <p id="notification_count"></p> -->
                </span>
              </a>
              
              <ul class="subheader_drop_down_menu" data-close id="notifications-dropdown">

                {% show_notifications_new %}
                <hr>
                {% show_notifications_old %}
                {% comment %} <li class='dropdown-item'>Hello</li>
                <hr class="dropdown-divider"> {% endcomment %}

              </ul>

            {% endif %}
          </div>

          <div class="header_forms">
            <form action="{%url 'search_results'%}" method="get">
              <input type="search" name = "q" placeholder="Search...">
            </form>
            <div class="header_searchBtn">
              <i class="fa-solid fa-magnifying-glass"></i>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="subheader" id = "subheader">
      <div class="container">
        <nav class="subheader_navi">
          <ul class="subheader_menu">

            <li class="subheader_menu_item">
              {% url 'home' as url_home %}
              <a class="nav-link {% if url_home == request.path %}active{% endif %}" href="{{url_home}}">Main page</a>
            </li>

            <li class="subheader_menu_item">
              {% url 'edit_page' as url_edit_page %}
              <a class="nav-link {% if url_edit_page == request.path %}active{% endif %}"
                href="{{url_edit_page}}">Create</a>
            </li>

            {% if request.user.is_authenticated %}
            <li class="subheader_menu_item">
              {% url 'logout_page' as url_logout_page %}

              <a class="" href="{{url_logout_page}}">Logout</a>
            </li>

            <li class="subheader_menu_item">
              {% url 'edit_profile' as url_edit_profile %}

              <a class="" href="{{url_edit_profile}}">Edit Profile</a>
            </li>

            {% else %}
            <li class="subheader_menu_item">
              {% url 'login_page' as url_login_page %}
              <a class="nav-link {% if url_edit_profile == request.path %}active{% endif %}"
                href="{{url_edit_profile}}">Edit Profile</a>
            </li>

            <li class="subheader_menu_item">
              {% url 'login_page' as url_login_page %}
              <a class="nav-link {% if url_login_page == request.path %}active{% endif %}"
                href="{{url_login_page}}">Login</a>
            </li>

            <li class="subheader_menu_item">
              {% url 'register_page' as url_register_page %}

              <a class="nav-link {% if url_register_page == request.path %}active{% endif %}"
                href="{{url_register_page}}">Register</a>
            </li>

            {% endif %}



            <div class="subheader_user_auth">

              <div class="subheader_user_auth_right">
                <image src="{{user.profile.image.url}}" width="20px" class="profile_circle" style="border-radius: 100%"></image>
                <span class="subheader_user_name">{{request.user}}</span>
                {% if request.user.is_authenticated %}
                <a href="/password_reset/{{request.user}}" class = "subheader_pass_reset">Password reset</a>
                {%endif%}
                <button class="subheader_btn" type="button">
                  <a href="/room/" class="text-white">Rooms</a>
                </button>

                <button class="subheader_btn" type="button">
                  <a href="/chat/" class="text-white">Chats</a>
                </button>

              </div>

            </div>
          </ul>
        </nav>

      </div>
      <div class="line"></div>
    </div>

  </header>


  {%block content%}

  {%endblock%}


  <section class="prefooter">
    <div class="container">
      <div class="prefooter_txt_form">

        <div class="prefooter_txt">
          <h2>Newsletter Subcribe</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid quia, ipsum vel totam aspernatur maiores expedita voluptatem soluta exercitationem magni dolor mollitia illum quasi qui iste quod corporis explicabo. Numquam.
          </p>
        </div>

        <div class="prefooter_form">
          <form action=".">
            <input class = "form_control" type="email" placeholder = "Enter your email">
            <span>
              <i class="fa-solid fa-paper-plane"></i>
            </span>
          </form>
        </div>
      </div>  
    </div>
  </section>
  
  
  <footer>

    <div class="container">
      <div class="copyright">
        <p>
        
        Copyright ©<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa-solid fa-heart"></i>by <a href="https://github.com/5Rusik5/Zero-to-hero" target="_blank">Zero-to-Hero</a>
        
        </p>
        </div>
    </div>
  </footer>


  <script src = "{% static 'js/scriptnotAuth.js' %}"></script>


  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  
  
    {% block js %}

    {% block scripts %}{% endblock %}

    {% endblock %}

    <!-- share block -->
    {% block contentShare%}

    {% endblock %}

</body>

</html>