{% load static i18n %}
<!-- <p>Notifications</p> -->
{% for i in notifications %}
     {% if i.notification_type == 1 %}
        <li class="dropdown-item">{{i.user_from}} {% trans 'liked your post' %}</li>
        {% load humanize %}
        <p>{{i.date|naturaltime}}</p>
        <hr class="dropdown-divider">
     {% elif i.notification_type == 2 %}
        <li class="dropdown-item">{{i.user_from}} {% trans 'commented your post' %}</li>
        {% load humanize %}
        <p>{{i.date|naturaltime}}</p>
        <!-- <hr class="dropdown-divider"> -->
     {% elif i.notification_type == 3 %}
        <li class="dropdown-item">{{i.user_from}} {% trans 'shared your post' %}</li>
        {% load humanize %}
        <p>{{i.date|naturaltime}}</p>
        <!-- <hr class="dropdown-divider"> -->
     {% endif %}
{% endfor %}
       