{% extends 'index.html' %}

{% block content %}

<section class="profile">
    
    <div class="container">
    
        <div class="profile_user_info">
            <div class="profile_user_info_card">
                
                <div class="profile_user_followers">
                    {% if profile.name %}
                 <h3 class="profile_user_name">
                    {{ profile.name }}
                </h3>
                    {% else %}
                <h3 class="profile_user_name">
                    {{ user.username }}
                </h3>
                     {% endif %}
                    <p>{{ number_of_followers }} followers</p>
                    {% if user == request.user %}
                    {% else %}
                    {% if is_following %}
                    <form method="POST" action="{% url 'remove-follower' profile.pk %}">
                        {% csrf_token %}
                        <button class="profile_user_btn-outline-danger" type="submit">Unfollow</button>
                    </form>
                    {% else %}
                    <form method="POST" action="{% url 'add-follower' profile.pk %}">
                        {% csrf_token %}
                        <button class="profile_user_btn-outline-success" type="submit">Follow</button>
                    </form>
                    {% endif %}
                    {% endif %}

                </div>

                <div class="profile_user_info_card_mod">

                    <img src="{{ profile.picture.url }}" class="rounded-circle" width="200" height="200" />
                    
                </div>
            </div>
            <div class="user_profile_info_posts">
                <h2> Articles</h2>
                {% for post in posts %}
                <div class="user_profile_info_posts_block">
                    <p>
                        <span class="popular_post_number">post.id</span>
                        <a class="user_profile_info_post_name" href="/detail/{{post.id}}">{{ post.name }}</a>
                    </p>
                    <div class="user_profile_info_post_txt">
                        <p>{{post.text|truncatechars:"255"}}</p>  
                        @{{ post.author }}
                    </div>
                </div>
                {% endfor %}
            </div>

        </div>
    </div>
</section>

{% endblock content %}