<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Zero to Hero</title>

	<link type= "image/x-icon" rel = "icon" href = "https://i1.sndcdn.com/avatars-000196582053-e3h8g9-t240x240.jpg"  />

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>
<body>
	


	<div class="container mt-4">
    
    <ul class="nav nav-pills">
		  <li class="nav-item">
		      {% url 'home' as url_home %}
		      
		    <a class="nav-link {% if url_home == request.path %}active{% endif %}" href="{{url_home}}">Main page</a>
		  </li>
		  <li class="nav-item">
		      {% url 'edit_page' as url_edit_page %}
		    <a class="nav-link {% if url_edit_page == request.path %}active{% endif %}" href="{{url_edit_page}}">Create</a>
		  </li>
	  
	  
	  
	  
		{% if request.user.is_authenticated %}
		      <li class="nav-item">
		        {% url 'logout_page' as url_logout_page %}
		        
			    <a class="nav-link btn-danger ml-5" href="{{url_logout_page}}">Logout</a>
			  </li>
		{% else %}
			    <li class="nav-item">
			        {% url 'login_page' as url_login_page %}
			    <a class="nav-link {% if url_login_page == request.path %}active{% endif %}" href="{{url_login_page}}">Login</a>
			  </li>
			    <li class="nav-item">
			        {% url 'register_page' as url_register_page %}
			        
			    <a class="nav-link {% if url_register_page == request.path %}active{% endif %}" href="{{url_register_page}}">Register</a>
			  </li>
	  
	    {% endif %}
	  
	  
		<div style = "margin: 0 50px; position: absolute; right: 0;" >
		  
		  {{request.user}}
		</div>

	</ul>


	<div class = "container mt-4">
		
		{% if sent %}
			<h1>E-mail succesfully sent</h1>
			<p>
				'{{articles.name}}'  was successfully sent to {{ cd.to }}

			</p>
		{% else %}
			<h1>Share "{{articles.name}}" by e-mail</h1>

			<form action = "." method = "post">
				{{form.as_p}}
				{%csrf_token%}
				<input type = "submit" value = "Send e-maill" />
			</form>

		{%endif%}

	</div>

	
</body>
</html>



