@import url("https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@600&display=swap");

*{
    box-sizing: border-box;
    outline: none; 
}

html{
    scroll-padding-top: 9rem; 
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: .2rem;
}

html::-webkit-scrollbar-track {
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    background: #000; 
    border-radius: 5rem;
}


body {
    font-weight: 400;
    font-family: Cabin, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1rem;
    line-height: 25px; 
    color: #212529;
    transition: 0.3s all;
    margin: 0; 
    padding: 0;
}


section {
    margin-top: 100px;
}

a {
    text-decoration: none;
}

ul, li{
    padding: 0; 
    margin: 0;
}

textarea {
    resize: none;
}

.container {
    width: 1140px; 
    margin: 0 auto;

}


.subheader_user_name {
    font-weight: 400; 
    font-size: 1.2rem;
    color: #000;
    letter-spacing: 0.2px;
    padding-right: 16px;
}
.subheader_user_name p {
    display: inline-block;
}

.subheader_user_img {
    display: inline;
    position: relative;
}

.subheader_user_img .rounded-circle  {
    position: absolute; 
    z-index: 3;
    top: -8px;
    left: -40px;
    border-radius: 100%;
    
}

.subheader_user_name p::first-letter {
    text-transform: uppercase;

}

.subheader_pass_reset {
    font-family: 'B612 Mono', monospace;
    text-transform: uppercase;
    font-size: .8rem;
    font-weight: 400;
    display: inline-block;
    text-decoration: none!important;
    color: #000;
    padding-right: 16px;
}

.subheader_pass_reset:after {
    content: "";
    display: block; 
    height: 2px; 
    width: 0%; 
    transition: all 0.5s; 
    background-color: #000;
}

.subheader_pass_reset:hover:after {
        width: 100%;
}

.subheader_btn {
    height: 40px;
    padding: 0; 
    margin: 0;
    border-radius: 30px;
    border: none;
    color: #fff;
    background: #000;
    transition: 0.3s all;
}

.subheader_btn:hover {

    background: #8bc34a;
    border: none;
}

.subheader_btn a{
    color: #fff;
    padding: 10px 30px;
    
}

.line {
    margin-top: 10px;
    width: 100%;
    border-top: 1px solid #efefef;
}

.header 
{
    min-height: 170px; 
    padding: 30px 0 8px 0;
    position: relative;
}

.header .header_logo {
    display: flex; 
    justify-content: space-between;
    align-items:center;
}

.header .header_logo .header_logo_txt {
    font-weight: 400; 
    font-size: 2rem;
    text-decoration: none;
    color: #000;
    transition: 0.3s all;
    
}

.header .header_logo .header_logo_txt:hover {
    color: #8bc34a; 
}

.header .header_logo .header_icon_form {
    display: flex;
    align-items: center;
    
}

.header .header_logo .header_icon_form .header_icons_img .header_icons_img_face{
    color: #000;
    padding: 16px;
    transition: 0.3s all;
    font-size: 15px;
}

.header .header_logo .header_icon_form .header_icons_img .header_icons_img_face:hover {
    color: #777;
}

.header .header_logo .header_icon_form  .header_forms  {
    display: flex;
}

.header .header_logo .header_icon_form  .header_forms input {
    margin-right: 10px;
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 30px;
    border: none;
    background: #fff;
    border: none;
    background-color: transparent;
    resize: none;
    outline: none;
    border-bottom: 1px solid #ccc;
} 



.header .header_logo .header_icon_form  .header_forms .header_searchBtn {
    border-radius: 30px;
    background: #000;
    padding-left: 20px;
    padding-right: 20px;
    border-color: #000;
    display: flex; 
    align-items: center;
    color: #fff;
    height: 55px;
    transition: 0.3s all;
    cursor: pointer;
    border: none;
  
}

.header .header_logo .header_icon_form  .header_forms .header_searchBtn:hover {
    background-color: #8bc34a;
}


.navBar {
    position: fixed;
    width: 100%; 
    top: 0; 
    z-index: 100; 
    background: #fff;
    transition: all ease-in-out 0.3s;
    margin-top: 0; 
}

.header .subheader {
    padding-top: 30px;
    position: relative;
    top: 0;
    width: 100%;
    transition: all ease-in-out 0.3s;
}


.header .subheader .subheader_navi .subheader_menu {
    display: flex; 
    align-items: center; 
    list-style-type: none; 
    padding: 0; 
    margin: 0;
}

.header .subheader .subheader_navi .subheader_menu .subheader_menu_item:first-child {
    display: inline-block;
    padding-right: 16px; 
    padding-top: 8px; 
    padding-bottom: 8px;
    padding-left: 0px;
}

.header .subheader .subheader_navi .subheader_menu .subheader_menu_item {
    display: inline-block;
    padding: 16px;
    font-family: 'B612 Mono', monospace;
}


.header .subheader .subheader_navi .subheader_menu .subheader_menu_item a {
    text-transform: uppercase;
    font-size: .8rem;
    letter-spacing: .01rem;
    font-weight: 400;
    display: inline-block;
    text-decoration: none!important;
    color: #000;
}

.header .subheader .subheader_navi .subheader_menu .subheader_menu_item a:after {
    content: "";
    display: block; 
    height: 2px; 
    width: 0%; 
    transition: all 0.5s; 
    background-color: #000;
}

.header .subheader .subheader_navi .subheader_menu .subheader_menu_item .logout:after {
    background-color: #cc0000;
}

.header .subheader .subheader_navi .subheader_menu .subheader_menu_item a:hover:after {
    width: 100%;
}

.header .subheader .subheader_navi .subheader_menu .subheader_user_auth 
{
    color: black;
    margin: 0 0 0 auto; 
}


.subheader_drop_down_noti:before {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    -moz-border-radius: 7.5px;
    -webkit-border-radius: 7.5px;
    border-radius: 7.5px;
    background-color: #cc0000;
    position: absolute;
    margin-top: 1px;
    margin-left: 5px;
}

.subheader_drop_down_menu {
    display: inline;
    opacity: 0;
    position: absolute;
    right: 336px;
    margin-top: 50px;
    transition: 0.5s all;
    visibility: hidden;
    z-index: 1;
}

.subheader_show {
    transition: 0.5s all;
    z-index: 100;
    opacity: 1;
    display: inline;
    visibility: visible;
    position: absolute;
    right: 336px;
    margin-top: 50px;
    color: #fff;
    border-radius: 13px;
    background-color: #000;
    padding: 8px;
    /* box-shadow: 5px 5px 20px #8bc34a */
}
.dropdown-item {
    list-style-type: none;
}

.dropdown-item:hover {
    cursor: pointer; 
    list-style-type: none; 
    color: #8bc34a;
    /* opacity: 0; */
}

.post_sliders {
    min-height: 360px;   
    position: relative;
}

.post_sliders .post_sliders_info  .post_slider_item{
    display: flex; 
    margin-top: 5px;
}


.post_sliders .post_sliders_info  .post_slider_item .post_slider_img  span {
    width: 555px; 
    height: 360px; 
    display: inline-block;
    background: center center/cover no-repeat;  
}

.post_sliders .post_sliders_info  .post_slider_item .post_slider_txt {
    padding: 50px;
    font-size: .9rem;
    display: inline-block;
    text-align: left;
    width: 100%;
    height: 360px;
    background-color:rgb(248, 249, 250);

    
}


.post_sliders .post_sliders_info  .post_slider_item .post_slider_txt .post_slider_txt1  {
    font-size: 26px; 
    font-weight: 400;
    margin: 2px;
    line-height: 33px;
}

.post_txt {
    color: rgb(128, 128, 128); 
    font-size: 14px;
    font-weight: 300;
    line-height: 24px
}


.post_more_info {
    font-size: 12px;
    font-weight: 400; 
    margin-top: 20px;
    display: inline-block;
}

.post_slider_moreInfo .post_link:nth-child(n) {
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: .01rem;
    display: inline-block;
    text-decoration: none!important;
    color: rgb(128,  128, 128);

}

.post_slider_moreInfo .post_link:nth-child(n):after {
    content: "";
    display: block; 
    height: 2px; 
    width: 0%; 
    transition: all 0.5s; 
    background-color: #000;
}

.post_slider_moreInfo .post_link:hover:after {
    width: 100%;
}

.my-slider img {
    height: 100%;
}

[data-action="stop"], [data-action="start"] {
    display: none;
}

[data-controls="prev"] {
    position: absolute;
    left: 0; 
    top: 50%; 
    transform: translateY(-50%);
}

[data-controls="next"] {
    position: absolute;
    right: 0; 
    top: 50%; 
    transform: translateY(-50%);
}

.tns-nav {
    position: absolute;
    bottom: 0;
    right: 50%;
    z-index: 50;
    transform: translateX(-50%);
}


.btnNext {
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 40px;
    width: 40px;
    padding: 0;
    margin: 0;
    border: none;
    color: #fff;
    background: #000;
    transition: 0.3s all;
    font-size: 25px;
}

.btnNext:hover {
    background: #8bc34a;
}

.tns-nav-active {
    background-color: #8bc34a;
}

.tns_nav_all {
    border-radius: 0%;
    display: inline-block;
    width: 18px;
    height: 4px;
    margin: 2px 5px;
    border: none;
}


.popular_post_title {
    font-weight: 500;
    font-size: 35px;    

}

.popular_post_title:after {
    content: "";
    display: block; 
    height: 1px; 
    width: 18%; 
    margin-top: 5px;
    transition: all 0.5s; 
    background-color: #000;
}



.popular_post {
    min-height: 560px;   
    position: relative;
}


.popular_post_blocks {
    display: flex;
    flex-flow: row wrap; 
    justify-content: space-around;
} 

.popular_post_number {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50px;
    flex: 0 0 50px;
    font-size: 30px;
    line-height: 1;
    color: #ccc;
    margin: 10px 0;
}

.popular_post .popular_post_info  .popular_post_item{

    width: 250px;
    min-height: 200px;
}
.popular_post .popular_post_info  .popular_post_item .popular_post_img {
    background: rgb(248, 249, 250);
}

.popular_post .popular_post_info  .popular_post_item .popular_post_img  span {
    width: 250px; 
    height: 150px; 
    display: inline-block;
    background: center center/cover no-repeat;  
    border: none; 
    border-radius: 5px;
}

.popular_post .popular_post_info  .popular_post_item .popular_post_txt {
    font-size: .9rem;
    padding-top: 15px;
    text-align: center;
    width: 100%;
    height: 150px;
    background-color:rgb(248, 249, 250);
    
}


.popular_post .popular_post_info  .post_slider_item .popular_post_txt .popular_post_txt1  {
    font-size: 26px; 
    font-weight: 400;
    margin: 2px;
}



.popular_post_moreInfo {
    font-size: 12px;
    font-weight: 400; 
    margin-top: 20px;
    display: inline-block;
}

.popular_post_moreInfo .post_link:nth-child(n) {
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: .01rem;
    display: inline-block;
    text-decoration: none!important;
    color: #000;

}

.popular_post_moreInfo .post_link:nth-child(n):after {
    content: "";
    display: block; 
    height: 2px; 
    width: 0%; 
    transition: all 0.5s; 
    background-color: rgb(128,  128, 128);
}

.popular_post_moreInfo .post_link:hover:after {
    width: 100%;
}
.popular_post_star{

    transition: 0.5s all;
}
.popular_post_star:hover {
    color: #000;
}

.prefooter {
    min-height:300px; 
    margin-top: 100px;
    padding: 100px 0 100px 0;
    background-color: #f8f9fa;
}

.prefooter .prefooter_txt_form{
    display: flex; 
    justify-content: space-around;
    align-items: center;
}

.prefooter_txt {
    flex: 0 0  50%; 
    padding-right: 15px; 
    margin-right: 45px;
}

.prefooter_form {
    flex: 0 0 50%;
    margin-top: 32px;
}

.prefooter_form form {
    display: flex;
    align-items: center;
}

.prefooter_txt p {
    margin-top: 0.5em;
    font-size: 14px;
    font-weight: 300;
    color: rgb(128,  128, 128);
    line-height: 24px
}

.prefooter h2 {
    font-size: 1.2rem;
    color: #000;
    font-weight: 500;

}

.form_control {
    margin-right: 10px;
    height: 50px;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 30px;
    border: none;
    background: #fff;
    border-bottom: 1px solid transparent;
    border-bottom: 1px solid #ccc;
}

.prefooter_form span {
    border-radius: 30px;
    background: #000;
    padding-left: 20px;
    padding-right: 20px;
    border-color: #000;
    display: flex;
    align-items: center;
    cursor: pointer;
    color: #fff;
    height: 45px;
    transition: 0.3s all;
}

.prefooter_form span:hover {
    background: #8bc34a;
}


.post_linkPagi {
    text-transform: uppercase;
    font-size: .8rem;
    letter-spacing: .01rem;
    font-weight: 400;
    display: inline-block;
    text-decoration: none!important;
    color: #000;
}

.post_linkPagi:after  {
    content: "";
    display: block;
    height: 2px;
    width: 0%;
    transition: all 0.5s;
    background-color: #000;
}

.post_linkPagi:hover:after {
    width: 100%;
}

.current {
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: .01rem;
    display: inline-block;
    text-decoration: none!important;
    color: #000;
}

.pagination {
   margin-left: 30px;
}

footer {
    font-size: .85rem;
    padding: 2rem 0;
}

footer .copyright {
    text-align: center;
    color: gray;
    letter-spacing: 0.3px;
    width: 100%;
}
footer .copyright p i {
    color: #f23a2e;
}
footer .copyright p a {
    color: #8bc34a;

}

.language {
   position: relative; 
    
}

.language .language_choose {
    position: absolute; 
    top: -45px;
    right: -165px;
}

.language_choose_block_select {
    border: none; 
    background: none;
}

.language_choose_block_select option {
    box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.56);
    background-color: inherit;
}

/* login */

.login_pos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    background: #fff;
    border-radius: 10px;
}

.center form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
} 

.center h1 {
  font-size: 2em;
  border-left: 5px solid #8BC467;
  padding: 10px;
  color: #000;
  letter-spacing: 5px;
  margin-bottom: 60px;
  font-weight: bold;
  padding-left: 10px;
  line-height: 43px;
}
.center .inputbox {
  position: relative;
  width: 300px;
  height: 50px;
  margin-top: 50px;
}
.center .inputbox input {

  position: absolute;
  top: 0;
  left: 0;
  outline: none;
  font-size: 1.2em;
    margin-right: 10px;
    height: 50px;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 30px;
    border: none;
    background: #fff;
    border-bottom: 1px solid transparent;
    border-bottom: 1px solid #ccc;
}
.center .inputbox:last-child {
  margin-bottom: 0;
}
.center .inputbox label {
  position: absolute;
  top: 14px;
  left: 20px;
  font-size: 1em;
  transition: 0.6s;
  font-family: sans-serif;
}
.center .inputbox input:focus ~ label,
.center .inputbox input:valid ~ label {
  transform: translateX(-13px) translateY(-35px);
  font-size: 1em;
}
.center .inputbox [type="button"] {
  width: 50%;
  background:  #8BC467;
  color: #fff;
  border: #fff;
}
.center .inputbox:hover [type="button"] {
  background: linear-gradient(45deg, greenyellow, dodgerblue);
}

.login_backPath {
    width: 1140px; 
    margin: 0 auto;
}

.login_btn {
    height: 40px;
    width: 300px;
    position: absolute;
    bottom: 0;
    padding: 0;
    margin: 0;
    border-radius: 30px;
    border: none;
    color: #fff;
    background: #000;
    cursor: pointer;
    z-index: 40;
    transition: 0.3s all;
}

.login_btn:hover {
    background: #8bc34a;
    border: none;
}

.helptext {
    width: 300px;
    margin-bottom: 30px;
}

.center .inputbox p {
    margin-top: 5px;
}

.center .inputbox p textarea {
    margin-bottom: 50px;
    border-radius: 5px;
}

.center .inputbox p img {
    display: block;
    margin: 0 auto;
    margin-top: 63px;

}

.rooms, .room {
    min-height: 360px; 
    padding: 20px 0 10px 0;

}

.rooms h1 , .room h1{
    font-size: 25px;
    font-weight: 500;
    margin: 2px;
    color: #000;

} 

.rooms_list {
    margin-top: 20px;
    
}

.rooms_detail {
    
    display: flex;
    flex-direction: column; 
    justify-content: flex-start;
    align-items: flex-start;
}


.rooms_detail .rooms_info{
    font-weight: 400; 
    font-size: 15px; 

}

.rooms_name  {
    text-transform:  uppercase;
}

.rooms_info button {
    height: 40px;
    width: 100%;
    padding: 0;
    margin: 0;
    border-radius: 30px;
    border: none;
    color: #fff;
    cursor: pointer;
    background: #000;
    transition: 0.3s all;
}

.rooms_info button:hover  {
    background-color:   #8bc34a;    
}

.rooms_info button a{
    color: #fff;
}


.room_detail .room_name {
    font-size: 25px;
    font-weight: 400;
    text-transform: uppercase;
}


.chat-messages {
    height: 400px;
    margin-top: 20px;
    padding: 20px;
    overflow-y: auto;
    border-radius: 10px;
    background-color: #000;
    color: #fff;
}

.room_form {
    margin-top: 20px;

} 
.room_formInput {
    margin-right: 10px;
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 30px;
    border: none;
    background: #fff;
    border: none;
    background-color: transparent;
    resize: none;
    outline: none;
    border-bottom: 1px solid #ccc;
}

.room_btn {
    height: 40px;
    width: 120px;
    padding: 0;
    margin: 0;
    border-radius: 30px;
    border: none;
    color: #fff;
    background: #000;
    transition: 0.3s all;
}


.modal {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 200;
    background-color: rgba(0, 0, 0, 0.56); 
} 

.fade {
    display: inline;
}

.modal-dialog {
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    width: 380px; 
    min-height: 400px ; 
    background: #f2f2f2;
    border-radius: 15px;
    border: none;
    padding: 38px 40px 40px 40px ; 

}

.modal-dialog  .btn-primary {
    width: 100%;
    height: 40px;
    padding: 0;
    margin: 0;
    border-radius: 30px;
    border: none;
    color: #fff;
    background: #000;
    transition: 0.3s all;
}

.modal-dialog  .btn-primary:hover  {
    background:#8BC467;
}

.modal_close {
    position: absolute; 
    top: 0; 
    right: -40px ; 
    font-size: 41px; 
    line-height: 21px; 
    color: rgb(247, 247, 247); 
    cursor: pointer;
}


.modal_subtitle {
    color: #0d0d0d;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
}

.style_label {
    margin-top: 36px;
    display: flex; 
    flex-direction: column; 
    width: 300px;

}

.style_label_mt25 {
    margin-top: 25px;
}

.style_label input {
    width: 100%;
    height: 50px; 
    background-color: #fff; 
    border-radius: 5px; 
    margin-bottom: 15px;
    border: none; 
    padding: 0 20px ; 
    color: #4b4b4b;
    font-size: 14px;
    font-weight: 300;
}

.style_label textarea  {
    border-radius: 5px; 
    border: none; 
    padding: 0 20px;
    padding-top: 10px;
    font-size: 14px;
    font-weight: 300;
    color: #4b4b4b;
    width: 100%;
    
}

.style_label input[type=file] {
    background: none; 

    margin-bottom: 20px;
}



.post_edit {
    padding: 20px 0 10px 0;

}
.post_edit_block {
    margin-top: 0   ;
}

.post_edit_info {
    margin-top: 15px;
}

.post_edit .post_edit_btn {
    height: 60px;
    width: 230px;
    padding: 0;
    margin: 0;
    margin-top: 35px;
    border-radius: 30px;
    border: none;
    color: #fff;
    cursor: pointer;
    background: #000;
    transition: 0.3s all;   
    text-transform: uppercase;

}

.post_edit .post_edit_btn:hover {
    background:#8bc34a;
}

.post_edit_data {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.post_edit_more_left {
    display: flex;
    flex-direction: column;
}

.post_edit_more_info {
    display: flex;
    justify-content: space-around;
    align-items:center;
}

.post_edit_linkPost:nth-child(n) {
    font-size: 10px;
    margin-top: 10px;
    text-transform: uppercase;
    letter-spacing: .01rem;
    display: inline-block;
    text-decoration: none!important;
    color: rgb(128,  128, 128);

}

.post_edit_linkPost:nth-child(n):after {
    content: "";
    display: block; 
    height: 2px; 
    width: 0%; 
    transition: all 0.5s; 
    background-color: #000;
}

.post_edit_linkPost:hover:after {
    width: 100%;
}

.post_edit_more_into_btns {
    display: flex;
    justify-content: space-around;
}

.post_edit_btns {
    line-height: 50px;
    /* height: 50px; */
    text-align: center;
    width: auto;
    cursor: pointer;
    border: none; 
    background: transparent;
    transition: all 0.3s;
}
.post_edit_btns  a {
    padding: 25px;
    color: #000;
}

.post_edit_btns:hover {
    background-color:rgba(128, 128, 128, 0.5);
    border-radius: 5px;

}

.alert {
    text-align: center;
    font-size: 30px; 
    font-weight: 400; 

}

.modal_labelText {
    position: absolute;
    left: 100px; 
    top: 13%;
}

.moda_labelPic {
    position: absolute;
    top: 60%;

}

.modal-footer button {

    margin-top: 30px;
    line-height: 50px;
    width: 50px;
    height: 50px;
    text-align: center;
    cursor: pointer;
    border: none;
    background: transparent;
    transition: all 0.3s;
}

.modal-footer button:hover {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
}

#update_data {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#update_data input {
    margin-right: 10px;
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 30px;
    border: none;
    background: #fff;
    border: none;
    background-color: transparent;
    resize: none;
    outline: none;
    border-bottom: 1px solid #ccc;
}

#update_data textarea {
    margin-top: 20px;
    
    padding: 20px;
    border-radius: 15px;
    border-color: #ccc;
}

.update_btn {
    height: 40px;
    width: 100px;
    padding: 0;
    margin: 0;
    border-radius: 30px;
    border: none;
    color: #fff;
    background: #000;
    transition: 0.3s all;
}
.update_btn:hover {
    background:#8bc34a;
}

#globalArea {
    position: absolute;
    left: 70%;
    transform: translate(-50%, -50%);
}

#globalArea canvas {
    border-radius: 10px;

}

.post_detail {
    padding: 10px 0 20px 0;
    
}

.post_detail .post_detail_title {
    text-align: center;
    font-size: 40px; 
    margin-top: 10px;
    line-height: 55px;

}

.post_detail .post_detail_title .post_detail_subtitle {
    color:#8bc34a
}

.post_detail .post_detail_info {
    display: flex; 
    align-items: center;
    margin-top: 40px;
    justify-content: space-between;
}

.post_detail .post_detail_info .post_detail_info_txt  {
    display: flex; 
    flex-direction: column; 

}

.post_detail .post_detail_info .post_detail_info_txt  .mt-5 {
    font-size: 20px; 
    font-weight: 400; 
    line-height: 10px;
    line-height: 33px;
}

.post_detail_txt {

    margin-top: 20px;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.3px;
    color: rgb(128, 128, 128);
    line-height: 24px;

}



.post_detail_comment_fill  form p{
    display: flex; 
    flex-direction: column;
}

.post_detail_comment_fill  form p textarea {
    margin-top: 10px;
    width: 300px; 
    border-radius: 20px; 
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.8);
}

.post_detail_comment p{
    font-size: 20px;
    font-weight: 400;
    margin: 0;
    margin-top: 20px;
}

.post_detail_comment .like {
    display: flex; 
    flex-direction: row;
    
    align-items: center;
}

.post_detail_comment .like_count {
    margin: 0; 
    margin-right: 20px;
}

.like_icon {
    padding-top: 5px;
    margin-right: 10px;
}

.post_detail_btn {
    height: 40px;
    width: 120px;
    padding: 0;
    margin: 0;
    border-radius: 30px;
    border: none;
    color: #fff;
    background: #000;
    transition: 0.3s all;
}

.post_detail_btn:hover {
    background-color:#8bc34a;
}


.post_detail_shareLink a  {
    font-family: 'B612 Mono', monospace;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 400;
    display: inline-block;
    text-decoration: none!important;
    color: #000;
    padding-right: 16px;
    padding-top: 5px;

}


.post_detail_shareLink a:after  {
    content: "";
    display: block; 
    height: 2px; 
    width: 0%; 
    transition: all 0.5s; 
    background-color: #000;
}


.post_detail_shareLink a:hover:after {
    width: 100%;
}

.date_txt {
    font-size: 14px; 
    color: #777;
}

.post_detail_list li {
    margin-top: 25spx;   
        list-style-type: none;
}



.profile_circle {
    border-radius: 100%;
}

.hideLabels {
    display: none;
}

.profile {
    min-height: 200px; 
    
}

.profile .profile_user_info  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.profile .profile_user_info  .profile_user_info_card  {
   display: flex;
   justify-content: space-around;
   
}



.profile .profile_user_info  .profile_user_info_card .profile_user_info_card_mod .rounded-circle {
    border-radius: 100%;
}

.profile_user_name {
    font-weight: 300;
    font-size: 15.5px;
    text-align: left;
}

.profile_user_followers {
    text-align: left;
}


.profile .profile_user_info  .user_profile_info_posts {
    flex: 0 0 700px;
    
}

.user_profile_info_posts h2 {
    margin-top: 7px;
    font-size: 32px;
    font-weight: 500;
    line-height: 43px;
}

.user_profile_info_post_name{
    font-weight: 500;
    font-size: 18px;
    color: #000; 
    line-height: 29px;
}

.user_profile_info_post_name:after {
    content: "";
    display: block; 
    height: 2px; 
    width: 0%; 
    transition: all 0.5s; 
    background-color: #000;
}

.user_profile_info_post_name:hover:after {
    width: 31%;
}

.profile_user_btn-outline-danger {
    width: 100%;
    height: 40px;
    padding: 0;
    margin: 0;
    border-radius: 30px;
    border: none;
    color: #fff;
    background: #000;
    transition: all .3s ease; 
    cursor: pointer;
}

.profile_user_btn-outline-danger:hover {
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.56);
}


.profile_user_btn-outline-success {
    width: 100%;
    height: 40px;
    padding: 0;
    margin: 0;
    border-radius: 30px;
    border: none;
    color: #fff;
    background:#8bc34a;
    transition: all .3s ease; 
    cursor: pointer;
}

.profile_user_btn-outline-success:hover {
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.56);
}